.verticalScrollMagnifier .state1 {
    transform: translateY(0px) scaleX(0.6) scaleY(0.6);
    opacity: 0.4;
}

.verticalScrollMagnifier .state2 {
    transform: translateY(100px) scaleX(0.8) scaleY(0.8);
    opacity: 0.7;
}

.verticalScrollMagnifier .state3 {
    transform: translateY(200px);
}

.verticalScrollMagnifier .state4 {
    transform: translateY(300px) scaleX(0.8) scaleY(0.8);
    opacity: 0.7;
}

.verticalScrollMagnifier .state5 {
    transform: translateY(400px) scaleX(0.6) scaleY(0.6);
    opacity: 0.4;
}

.verticalScrollMagnifier .wait {
    opacity: 0;

}