* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: '微软雅黑';

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*全局的字体*/
    font-size: 17px;
    line-height: 32px;
    color: #262626;
}

body {
    padding: 15px 15px;
    box-sizing: border-box;
}

/*默认样式*/
p {
    padding: 10px;
    border: 1px dashed #888;
    margin-bottom: 20px;
    text-align: justify;


}

/*dashedCornerShadow 第一款测试样式*/
.dashedCornerShadow {
    /*border: 1px solid red;*/
    text-align: justify;
    margin-bottom: 25px;
    position: relative;
    vertical-align: middle;
    border: 1px dashed #888;
    background-color: white;
}

.dashedCornerShadow::before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: -5px;
    left: 5px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #595959;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    transform: rotate(-3deg);
}

.dashedCornerShadow::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: -5px;
    right: 5px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #595959;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    transform: rotate(3deg);

}


.textCenter {
    text-align: center;
    text-indent: 0em;
}

.textJustify {
    text-align: justify;
}

.strong {
    font-weight: bold;
}

/*canvas边框*/
/*因为 p标签里面没有继承*/
.jimi-Yunying div, .jimi-Yunying span {
    font-size: 14px;
    line-height: 21px;
}
